/*firstpage.css*/
.main-body {
	background-color: #E0E0E0;
	height:500px;
}
#carousel-example-generic {
	margin-left: 20px;
	height: 300px;
}
.main-body .description p{
	margin-top: 10px;
	margin-left: 25px;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	color: #13456A;
}
.register-login {
	width: 250px;
	height: 320px;
	margin-left: 150px;
	margin-top: 50px;
	background-color: #FFFFFF;
	border: 1px solid #B0B0AF;
	padding:5px;
}

.tab-content {
	margin-top: 20px;
}

#myTab {
	text-align: center;
}


.footer {
	display: center;
	text-align: center;
}
.footer a {
	font-weight: 10px;
	font-size: 18px;
	font-family: sans-serif;
	color: #213561;
}
